{% extends "base.html.twig" %}

{% block body %}

<div class="form-control">
    {{form_start(formulaire)}}
    <div class="form-group">
        {{form_row (formulaire.title,{'label':"","attr":{"placeholder":"Votre nom ","class":"champ"}})}}
       
    </div>
    <div class="form-group">
        {{form_row(formulaire.place,{'label':"","attr":{"placeholder":"Votre  prenom","class":"champ"}}) }}
     
    </div>
    <div class="form-group">
        {{form_row (formulaire.date,{'label':"","attr":{"placeholder":"Date de l'event ","class":"champ"}})}}
       
    </div> 
   
    <div class="form-group">
        {{form_row (formulaire.Picture,{'label':"","attr":{"placeholder":"Votre avatar ","class":"champ"}})}}
       
    </div> 
    <div class="form-group">
        {{form_row (formulaire.description,{'label':"","attr":{"placeholder":"description ","class":"champ"}})}}
       
    </div>
    <div class="alignRight"><button type="submit"  >Ajout d'un produit</button></div>
    {{form_end(formulaire)}}
    </div>
  
{% endblock body %}